.fadeText {
    position: relative;
    height: 100px; 
    overflow: hidden;
    line-height: 20px; 
}

.fadeText::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px; 
    background: linear-gradient(to bottom, transparent, white 50%);
}